<div class="main_chat">
  <div class="main_header">
    <div class="header_left">
      <div class="header_title">
        hogefuga
      </div>
    </div>
    <div class="header_right">  
      <div class="header_button">
        <a href="#">チャットを終了する</a>
      </div>
    </div>  
  </div>
  <div class="chat_space">
    <div class="messages_index">
      <div class="messages">
        <div class="message_from">
          <p class="from_user">Tom</p>
          <p class ="created_at">2020/3/21(wed)12:43:30</p>
        </div>
        <div class="message_content">
          <div class="message_text">
            <p>おはよう</p>
          </div>
        </div>  
      </div>
      <div class="messages">
        <div class="message_from">
          <p class="from_user">Tom</p>
          <p class ="created_at">2020/3/21(wed)12:43:30</p>
        </div>
        <div class="message_text">
          <p>こんばんは</p>
        </div>
      </div>
    </div>
  </div>
  <div class="main_footer">
    <div class="message_form">
      <div class="form_input">
        <input class="content_form" placeholder="type a message">
        <label class="form_image">
          <span class="image_file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
      <input class="submit_button" type="submit" value="送信">
    </div>
  </div>
</div>