<div class="messages_index">
  <div class="messages">
    <div class="message_from">
      <p class="from_user"><%= message.user.name %></p>
      <p class ="created_at"><%= l message.created_at %></p>
    </div>
    <div class="message_content">
      <div class="message_text">
        <p><%= message.content %></p>
      </div>
      <%= image_tag message.image.variant(resize: '500x500'), class: 'message_image' if message.image.attached? %>
    </div>  
  </div>
</div>