<div class="side_bar">
  <div class="side_header">
    <div class="sideheader_left">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="sideheader_right">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="side_main">
    <div class="room">
      <div class="room_name">
        <a href="#">myroom1</a>
      </div>
    </div>
    <div class="room">
      <div class="room_name">
        <a href="#">myroom2</a>
      </div>
    </div>
  </div>
</div>